*{
    margin: 0%;
    padding: 0%;
}
#main-menu li{
    float: right;
    width: 150px;
    height: 40px;
    line-height: 40px;
    list-style: none;
    text-align: center;
    background-color: black;
}
#main-menu li a{
    text-decoration: none;
    color:white ;
    font-weight: bold;
}
#main-menu ul{
    display: none;
}
#main-menu li:hover ul{
    display: block;
}
#main-menu li:hover{
    background-color: fuchsia;
}
#main-menu li:hover a{
    background-color:chartreuse;
}
#main-menu ul li{
    background-color:fuchsia;
}
#main-menu ul li:hover{
    background-color: chartreuse;
}
#main-menu ul li:hover a{
    color:fuchsia;
}