*{
    margin: 0px;
    padding: 0px;
    color: azure;
    


}

body {
    direction:ltr;
      font-size: 10px;
    text-align:center;
    color: black;
    line-height: 30px;
    font-family:serif;
    text-decoration: none;
    }

nav #bkmenu {
    background-color: white;
    position: fixed;
    font-size: 13px;
    z-index: 999;
   }
   nav #bkmenu li {
    display: inline-block;
    


   }
   nav #bkmenu a{
    text-decoration: none;
    margin: 15px;
    
    color: black;
   }
   nav #bkmenu li:hover{
    background-color: red;

   }

   .searching>input{
    width: 400px;
    margin: 10px;
    height: 35px;
    
   }

   #titr{
    font-size: 35px;
    color: crimson;
    text-align: center;
    padding: 50px 0px 20px 0px;
   }














.container{
    width: 800px;
}

input{
    width: 100%;
    padding: 10px 15px;
    margin: 0px 0px 15px 0px;
}
button{
width: 100%;
background-color: blueviolet;
color: aqua;
font-weight: bold;
padding: 10px;
}
input:focus{
    background-color:gray;
    border: 2px solid cornflowerblue;
}