*{
  margin: 0px;
  padding: 0px;
}



#g1{
    display: inline-block;
}

body {
    direction:ltr;
      font-size: 10px;
    text-align:center;
    color: black;
    line-height: 30px;
    font-family:serif;
    text-decoration: none;
    }



    nav #bkmenu {
      background-color: white;
      position: fixed;
      font-size: 13px;
      z-index: 999;
     }
     nav #bkmenu li {
      display: inline-block;


     }
     nav #bkmenu a{
      text-decoration: none;
      margin: 15px;
      color: black;
     }
     nav #bkmenu li:hover{
      background-color: red;

     }

 

    #linedw{
      color: Red; 
      height: 1px;
      background-color: red;
  
  }
  h3{
      text-align: center;
      font-size: 20px;
      color: aliceblue;
  }
  
  #information{
    color: aliceblue;
    font-size: 12px;
  }
  
  
  
  footer{
      background-color: black;
      opacity: 90%;
  }
  
  footer div{
     
      margin: 7px;
      padding: 10px;
  }
  
  footer div div{
  background-color: white;
  
  }
  
  .flexbox{
   display: flex;
   flex-wrap: wrap;
   flex-flow: column;
   justify-content: center;
   font-size: 17px;
   width: 40%;
  
  }
  .flexbox div{
      background-color: #c70a20;
      display: flex;
      border-radius: 3px;
  
  }
  .flexbox a{
      text-decoration: none;
      color: black;
      font-weight: bold;
      
  }

  .flexbox :hover{
    background-color: white;
  }


  
 